:root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "montserrat", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

/* Top Header */
.Top__header {
  color: white;
  background-color: #0d369f;
  padding: 14px 15px;

}

.Top__header .container__TopHeader .top-headers .fa {
  margin-right: 10px;
}

.container__TopHeader {
  padding: 0 15px;
}

.Top__header .top-headers li a,
.Top__header .top-headers li {
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.Top__header .top-headers li a:hover {
  text-decoration: none;
  color: #ff6e65;
  transition: all .5s;
}

ul {
  margin: 0;
  padding: 0;
}

ul,
li {
  color: white;
}

.Top__header .top-headers li {
  display: inline-block;
  margin-right: 2em;
}

.Top__header .top-headers-2 li {
  cursor: pointer;
}

.Top__header .top-headers-2 li:hover {
  color: #ff6e65;
}

/* Header */
.container-fluid {
  background-color: white;
  width: 100%;
  padding: 10px 15px;
  /* position: fixed; */
  /* z-index: 10; */
}

.navbar .navbar-expand {
  padding: 0;
}

.container-fluid .navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 26px;
  color: #0d369f;
  font-weight: 600;
}

.container-fluid .navbar .navbar-brand:hover {
  color: #ff6e65;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  color: black;
}

.navbar-expand .navbar-nav .nav-item {
  padding: 0 12px;
  transition: all 0.5s ease;
  position: relative;
}

.navbar-expand .navbar-nav .nav-link {
  padding: 6px 0;
  font-size: 16px;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
}


.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  align-items: center;
}

.navbar-nav .search-right .search-box {
  display: flex;
}

.nav ul li a {
  transition: all .5s;
}

body a,
button,
.btn {
  cursor: pointer !important;
}

.navbar form.search-box input {
  font-size: 15px;
  color: black;
  background: transparent;
  padding: 10px 35px 10px 20px;
  width: 100%;
  border-radius: 30px;
  border: 2px solid #eee;
}

.fa-search {
  color: #0d369f;
  cursor: pointer;
}

.fa-search:hover {
  color: #ff6e65;
}

.theme-switch {
  display: inline-block;
  position: relative;
  margin: 0;
}

.navbar-expand .navbar-nav .nav-item.active .nav-link,
.navbar-expand .navbar-nav .nav-link:hover {
  color: #ff6e65;
}

.mode-container {
  width: 24px;
  height: 24px;
  padding: 0px 0;
  margin-left: 10px;
  color: #0d369f;
}

.mode-container i.fa-sun {
  display: none;
}

.mode-container i {
  font-size: 15px;
}

.fa-sun,
.fa-sun:after,
.fa-sun:before {
  box-sizing: border-box;
  display: block;
  width: 24px;
}

.fa-sun {
  position: relative;
  transform: scale(var(--ggs, 1));
  height: 24px;
  background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
}

.mode-container i.fa-moon {
  display: block;
  cursor: pointer;
}

.fa.moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom: 2px solid transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* feature */
.w3l-bottom-grids-6 {
  position: relative;
  /* margin-top: -4em; */
  width: 100%;
}

.text-center {
  text-align: center !important;
}

.w3l-bottom-grids-6 .area-box.color-1 {
  background-color: #037ef3;
}

.w3l-bottom-grids-6 .area-box {
  padding: 50px 35px;
  position: relative;
  z-index: 1;
  border-radius: 8px;
  background-color: white;
}

.w3l-bottom-grids-6 h4 .title-head {
  margin-top: 25px;
  display: block;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}

.w3l-bottom-grids-6 h4 .title-head:hover {
  color: black;
  text-decoration: none;
  transition: .5s all;
}

.w3l-bottom-grids-6 .area-box.color-2 {
  background-color: #ffc949;
}

.w3l-bottom-grids-6 .area-box.color-3 {
  background-color: #ff4f81;
}

.w3l-bottom-grids-6 .area-box.color-4 {
  background-color: #1ee697;
}

.w3l-bottom-grids-6 .area-box i {
  font-size: 45px;
  color: #fff;
}

.container .row {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
}

/* homepage cover service */
.w3l-homeblock1 .w3-services-ab {
  background-image: url(./image/bg3.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 100%;
}

.py-5 {
  padding-top: 1rem !important;
}

.col-xl-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/* .w3l-homeblock1 .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: flex-end;
} */

.col-md-6 {
  max-width: 50%;
}

.pt-md-2, .py-md-2 {
  padding-top: 0.5rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.w3l-homeblock1 .feature-gd {
  background: white;
  padding: 30px;
  border-radius: 8px;
}

.w3l-homeblock1 .icon i {
  color: #0d369f;
  font-size: 28px;
  background: rgb(13 54 159 / 9%);
  width: 65px;
  height: 66px;
  line-height: 65px;
  border-radius: 50%;
  text-align: center;
  margin-right: 15px;
}

.w3l-homeblock1 .row h5 {
  font-size: 20px;
  line-height: 30px;
  color: black;
  font-weight: 600;
  margin-bottom: 6px;
}

p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 28px;
  color: #707070;
  letter-spacing: .4px;
}

.row .mt-5 {
  margin-top: 0 !important;
}

/* HomePage Testimonials */
.py-5 {
  padding-bottom: 3rem !important;
  padding-top: 3rem !important;
} 

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.py-md-5 {
  padding-bottom: 3rem !important;
}

.title-heading-w3 {
  max-width: 700px;
}

.text-center {
  text-align: center !important;
}

.py-lg-5 {
  padding-bottom: 3rem !important;
}

.mx-auto {
  margin-left: auto !important;
}

.mx-auto {
  margin-right: auto !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

h3.title-main {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  position: relative;
}

h3.title-main:before {
  content: "";
  background: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
  left: -20px;
  bottom: -8px;
}

h3.title-main:after {
  content: "";
  background: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
  left: 20px;
  bottom: -15px;
}

h3.title-main span {
  color: #ff6e65;
}

.col-lg-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-lg-4 .col-md-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.w3l-cutomer-main-cont .testimonials_grid {
  background: white;
  border-radius: 4px;
  box-shadow: 0 20px 62px rgb(4,20,69,0.1);
  padding: 3rem;
}

.testimonials_grid span.fa {
  font-size: 26px;
  color: #ff6e65;
}

.sub-test {
  font-size: 16px;
    line-height: 28px;
    color: gray;
    letter-spacing: .4px;
}

.w3l-cutomer-main-cont .sub-author-con {
  grid-template-columns: .3fr 1fr;
  align-items: center;
  grid-gap: 5px;
  margin-top: 1.5em;
}

.d-grid {
  display: grid;
}

.w3l-cutomer-main-cont .testi-img-res img {
  border-radius: 50%;
}

.mt-md-0 {
  margin-top: 0 !important;
}

.mt-lg-0 {
  margin-top: 0 !important;
}

/* homepage content (contact us) */
.pb-5 {
  padding-bottom: 3rem !important;
}

h3.title-style {
  font-size: 35px;
  font-weight: 600;
  line-height: 45px;
}

.col-lg-7 .mt-4 .btn-style-secondary {
  background: #ff6e65;
  color: #fff;
}

.col-lg-7 .mt-4 .btn-style-secondary :hover {
  background: #0d369f !important ;
  color: #fff;
}

.btn-style {
  padding: 14px 30px;
}

/* button */
#movetop {
  position: fixed;
  bottom: 90px;
  right: 15px;
  z-index: 9;
  font-size: 16px;
  border: none;
  outline: none;
  color: #fff;
  width: 40px;
  height: 40px;
  background: #0d369f;
  padding: 0;
}